* {
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    background-image: url(../images/BG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-row {
    padding-top: 100px;
    margin: auto;
    width: 30%;
    opacity: 0.7;

}

.form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form>input {
    font-size: 18px;
}

.content-year {
    width: 40%;
}

.content-month {
    width: 30%;
}

.select {
    background-color: wheat;
    font-size: 30px;
}

.select:hover {
    background-color: lightblue;
    cursor: pointer;
}

.box {
    padding-top: 10px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 18px;
    opacity: 0.8;
}

.title-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid #540b0e;
    border-right: 0px;
    font-family: 標楷體;
    font-size: 48px;
    background: linear-gradient(to right, #f4845f, #ffe1a8, #f07167);
    animation: move 5s ease infinite;
    background-size: 500% 500%;
}

.title-img {
    width: 100%;
    height: 540px;
    margin: auto;
}


.title-img>img {
    width: 100%;
    height: 100%;

}

@keyframes move {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.keyword {
    color: brown;
}

.right {
    display: flex;
    width: 70%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    opacity: 0.8;
}

.header {
    display: flex;
    flex-direction: column;
    width: calc(100%/7);
    height: 90px;
    border: 1px solid #540b0e;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.outside-holiday,
.holiday,
.outsideday,
.day {
    display: flex;
    flex-direction: column;
    width: calc(100%/7);
    height: 90px;
    border: 1px solid #540b0e;
    font-size: 26px;

}

.header:hover,
.outside-holiday:hover,
.holiday:hover,
.outsideday:hover,
.day:hover {
    background-color: lightblue;
}

.header {
    background-color: #ffe1a8;
}

.outsideday,
.outside-holiday {
    color: darkgrey;
    font-weight: bold;

}

.holiday,
.outside-holiday {

    background-color: #f07167;
}



.day,
.outsideday {

    background-color: whitesmoke;
}

.day {

    font-weight: 1000;
}

.holiday-name {
    text-align: right;
    color: darkred;
    font-size: 22px;
}

.row {
    margin: auto;
    width: 70%;

}

.item1 {
    float: left;
}

.item2 {
    float: right;
}





.change {
    opacity: 0.8;
    background-color: lightblue;
    font-size: 20px;
}

.change:hover {
    background-color: pink;
    cursor: pointer;
}